---
---

<html>
  <head>
    <title>Dax Adorno | Portfolio</title>
  </head>
  <body>
    <h1>Portfolio de Dax Adorno</h1>

    <p>Full Stack Developer</p>

    <h2>Proyectos</h2>

    <ul>
      <li>Zoonosis System</li>
      <li>Python ETL Reporter</li>
      <li>Kotlin Mobile Demo</li>
    </ul>
  </body>
</html>